#productsPage {
  background-color: #ccc;
  box-shadow: 0 0 10px #888;
  min-height: 500px;
  padding: 20px 20px;
}

#productsPage h2 {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 10px;
  padding: 10px;
  color: var(--navBackgroundGrey);
  text-shadow: 0 0 5px #aaa;
  height: auto;
}

#priceSortSelect, #nameSortSelect {
  border: none;
  border-radius: 3px;
}

.products-item {
  min-height: 300px;
  background-color: white;
  margin: 10px 0;
  padding: 5px 0;
  border-radius: 5px;
  border-left: solid 3px #ccc;
  border-right: solid 3px #ccc;
  position: relative;
}

.products-item-img img {
  margin: 0 8%;
  cursor: pointer;
}

.products-item-name-text {
  font-size: 14px;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  padding: 5px 0;
  color: var(--navBackgroundGrey);
  cursor: pointer;
}

.products-item-name-text:hover {
  color: var(--lightBlue);
  text-shadow: 0 0 1px var(--textWhite);
  transition-duration: 0.3s;
}

.products-item-price-text {
  font-size: 18px;
  font-weight: bold;
  color: var(--priceBlue);
}

.products-item-price-text-old {
  font-size: 14px;
  text-decoration: line-through;
  color: var(--oldPrice);
}

.products-item-price-text-new {
  font-size: 18px;
  font-weight: bold;
  color: var(--discountRed);
}

.product-to-cart-button {
  font-size: 18px;
  font-weight: bold;
  /* border: 2px solid var(--lightBlue); */
  border: none;
  background-color: #fff;
  color: var(--navBackgroundGrey);
  padding: 0 3px 0 0;
  border-radius: 3px;
  cursor: pointer;
  align-items: flex-end;
  box-shadow: 0 1px 3px #ddd;
}

.product-to-cart-button:hover {
  color: var(--navBackgroundGrey);
  background-color: var(--lightBlue);
  fill: var(--navBackgroundGrey);
  box-shadow: 0 1px 3px #888;
  transition-duration: 0.3s;
}
